.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3eae3; 
}

.card-image img {
  width: 220px;
  height: 80%;
  object-fit: cover;
  display: block;
}

.Thecard {
  display: flex;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  max-width: 600px;
}

.card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.card {
  display: flex;
  max-width: 700px;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.card-info {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-category {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.card-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.5;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #1e7d32;
}

.old-price {
  font-size: 14px;
  color: #aaa;
  text-decoration: line-through;
}

.add-to-cart {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #1e7d32;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-to-cart:hover {
  background-color: #166527;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
